body{
    margin-left: 0px;
    margin-top: 10px;
    background:url(payment.jpg)no-repeat center center fixed;
    background-size: cover;
}
.headline{
    .title{
        margin-left: 190px;
        margin-top: -140px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .logo{
        margin-left: 10px;
    }
    .link{
        margin-left: 1100px;
        margin-top: -50px;
        
        a{
            text-decoration: none;
            color: white;
            font-size: 24px;
        }
    }
}
.gpay{
    margin-left: 150px;
    margin-right: 0px;
    margin-top: 350px;
}
.phonepe{
    margin-left: 720px;
    margin-top: -100px;
    margin-right: 0px;
    border-radius: 20px;
}
.paytm{
    margin-left: 1200px;
    margin-top: -100px;
    margin-bottom: 0px;
}
.text{
    margin-left: 570px;
    margin-top: 300px;
    h1{
        margin-top: 100px;
        margin-left: -80px;
        margin-right: 0px; 
    }
    h2{
        margin-top: 100px;
        margin-left: -90px;
    }
}
.file{
    margin-left: 650px;
    margin-top: 200px;
}